*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Outfit", sans-serif;
    background:#F0EFF4;
    color:#F0EFF4;
}

header{
    position:absolute;

    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;

    z-index:100;

    transition:0.3s;
}

.logo{
    font-size:1.8rem;
    font-weight:700;
}

nav{
    display:flex;
    gap:50px;
}

nav a{
    text-decoration:none;

    color:white;

    font-weight:600;

    position:relative;

    transition:color 0.8s ease;
}

nav a:hover{
    color:#DC136C;
}

nav a::before{
    content:"";

    position:absolute;

    bottom:-8px;
    left:0;

    width:0;
    height:2px;

    background:#DC136C;

    transition:width 1.3s cubic-bezier(.22,.61,.36,1);
}

nav a:hover::before{
    width:100%;
}

.hero{
    min-height:80vh;

    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;

    background-image:url("img/hero.gif");
    background-size:cover;
    background-position:center;

    padding:120px 80px 0 80px;

    gap:80px;
}

.hero-content{
    max-width:700px;

    position:relative;

    z-index:2;
}

.scroll-indicator{
    position:absolute;

    bottom:40px;
    left:50%;

    transform:translateX(-50%);

    color:white;

    font-size:2rem;

    animation:bounce 2s infinite;
}

@keyframes bounce{

    0%,100%{
        transform:translateX(-50%) translateY(0);
    }

    50%{
        transform:translateX(-50%) translateY(10px);
    }

}

.hero h1{
    font-weight:800;
    font-size:4rem;
    margin-bottom:15px;
    text-shadow:0 4px 20px rgba(0,0,0,0.4);
}

.hero p{
    font-size:1.3rem;

    color:rgba(255,255,255,0.85);

    text-shadow:0 2px 10px rgba(0,0,0,0.4);

    margin-bottom:35px;

    max-width:600px;
}

.hero button{
    border:none;

    padding:16px 38px;

    border-radius:18px;

    background:#DC136C;

    color:white;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:0.3s ease;
}

.hero button:hover{
    transform:translateY(-3px);
}

.logo img{
    height:75px;
}

.hero::before{
    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.35);
}

.featured-news{
    padding:120px 80px;

    background-image:url("img/news-bg.jpg");

    background-size:cover;

    background-position:center;
    
    position:relative;
}

.section-header{
    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:40px;
}

.section-header h2{
    font-size:2rem;
    color:#DC136C;
}

.section-header a{
    font-size:1.5rem;
    text-decoration:none;

    color:#DC136C;

    font-weight:700;

    transition:0.3s;
}

.section-header a:hover{
    opacity:0.7;
}

.news-grid{
    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.news-card{
    background:white;

    padding:35px;

    border-radius:25px;

    border-top:4px solid #DC136C;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    transition:all 0.35s ease;
}

.news-card:hover{
    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.news-card h3{
    margin-bottom:15px;
    color:#242423;

    font-size:1.4rem;
}

.news-card p{
    color:#191516;

    line-height:1.6;
}

.news-date{
    display:block;

    margin-bottom:15px;

    color:#DC136C;

    font-size:0.9rem;

    font-weight:600;
}

.content-section{
    padding:50px 80px;
}

.content-grid{
    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;
}

.video-card{
    text-decoration:none;

    color:#111;

    background:white;

    border-radius:25px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s ease;
}

.video-card p{
    padding:0 25px 25px;

    color:#666;

    line-height:1.6;
}

.video-card:hover{
    transform:translateY(-10px);
}

.video-card img{
    width:100%;

    height:450px;

    object-fit:cover;
}

.video-card h3{
    padding:25px;

    font-size:1.3rem;
}

.video-thumbnail{
    position:relative;
    overflow:hidden;
}

.play-button{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    width:80px;
    height:80px;

    border-radius:50%;

    background:rgba(220,19,108,0.9);

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2rem;

    transition:0.3s ease;
}

.video-card:hover .play-button{
    transform:translate(-50%, -50%) scale(1.15);
}

.video-thumbnail img{

    transition:0.4s ease;

    width:100%;

    height:450px;

    object-fit:cover;

    filter:brightness(0.8);
}

.play-button span{
    margin-left:4px;
}

.video-card:hover .video-thumbnail img{
    transform:scale(1.05);
}

.teams-section{
    padding:50px 80px;

    background-image:url("img/news-bg.jpg");

    background-size:cover;

    background-position:center;
    
    position:relative;
}

.teams-grid{
    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;
}

.team-card{
    position:relative;

    overflow:hidden;

    border-radius:25px;

    text-decoration:none;

    color:white;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    
    transition:0.35s ease;
}

.team-card:hover{
    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.team-card::before{
    content:"";

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:4px;

    background:#DC136C;

    transform:scaleX(0);

    transition:0.4s ease;

    z-index:3;
}

.team-card:hover::before{
    transform:scaleX(1);
}


.team-card img{
    width:100%;

    height:500px;

    object-fit:cover;

    display:block;

    transition:0.4s ease;
}

.team-card:hover img{
    transform:scale(1.05);
}

.team-overlay{
    position:absolute;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    align-items:center;

    text-align:center;

    padding:30px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.05)
    );
}

.team-overlay h3{
    font-size:2rem;

    margin-bottom:8px;
}

.team-overlay p{
    opacity:0.9;
}

footer{

    border-top:3px solid #DC136C;
    
    margin-top:120px;

    padding:80px;

    background:#111;

    color:white;

    text-align:center;
}

footer img{
    width:100px;

    margin-bottom:30px;
}

.footer-links,
.footer-social{
    display:flex;

    justify-content:center;

    gap:30px;

    margin-bottom:25px;
}

footer a{
    text-decoration:none;

    color:white;

    transition:0.3s;
}

footer a:hover{
    color:#DC136C;
}

footer p{
    color:#888;
}

